.list__desinfectar {
  list-style: upper-roman;
}
.Desinfeccion {
  /* background-color: red; */
  -webkit-box-shadow: 0 5px 10px #777;
  -moz-box-shadow: 0 5px 10px #777;
  box-shadow: 0 5px 10px #777;
  /* background-color: #e5e5e5; */
  margin: 1rem;
}

#more2 {
  display: none;
  font-family: "Nunito", sans-serif;
}
#myBtn2 {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  background: #2ecc71;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
@media only screen and (min-width: 1300px) {
  #myBtn2:hover {
    transition: all 0.3s ease-out;
    background: #e5e5e5;
    color: black;
    transition: 250ms;
  }
}
