#more3 {
  display: none;
  font-family: "Nunito", sans-serif;
}
#myBtn3 {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  background: #2ecc71;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
@media only screen and (min-width: 1300px) {
  #myBtn3:hover {
    transition: all 0.3s ease-out;
    background: #e5e5e5;
    color: black;
    transition: 250ms;
  }
}
