.servi-links {
  color: lightslategray;
  text-align: center;
}
.MuiGrid-spacing-xs-2 {
  justify-content: space-evenly;
}
.MuiGrid-root {
  justify-content: space-around;
}

.links {
  background: rgb(241, 223, 11);
  background: linear-gradient(
    90deg,
    rgba(241, 223, 11, 1) 3%,
    rgba(255, 248, 0, 1) 21%,
    rgba(255, 236, 0, 1) 53%,
    rgba(254, 255, 0, 1) 86%,
    rgba(237, 216, 16, 1) 100%
  );
}
.MuiGrid-spacing-xs-2 {
  margin: 0 !important;
}
h5 {
  font-size: 1.5rem;
  font-weight: 550;
  margin-top: 5px;
  font-family: "Noto Sans", sans-serif;
}
.active .servi-links {
  text-decoration: underline;
}
.servi-links:hover {
  text-decoration: underline;
  color: black;
}
.servi-links:focus {
  text-decoration: underline;
  color: black;
}
.activado {
  text-decoration: underline;
  color: black;
}

.mip {
  white-space: nowrap;
}

@media only screen and (max-width: 1500px) {
  .mip {
    white-space: nowrap;
  }
}
