.css {
  background-color: #e5e5e5;
}

.somos {
  margin: 1rem;
}
.objetivos {
  margin: 1rem;
}

/* font-family: 'Alfa Slab One', cursive;
font-family: 'Cinzel', serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Playfair Display SC', serif; */
h2 {
  color: rgb(85, 85, 62);
  font-size: 1.7rem;
  font-family: "Playfair Display SC", cursive;
  text-decoration: underline;
  text-align: center;
}

p {
  font-family: "Noto Serif JP", sans-serif;
  color: black;
  margin: 15px;
}

@media only screen and (max-width: 1000px) {
  /* .container {
    flex-direction: column;
  }
  .somos .objetivos {
    width: 100%;
    align-items: center;
    justify-content: center;
  } */
}
