.NavbarItems {
  /* background: rgb(241, 223, 11);
  background: linear-gradient(
    90deg,
    rgba(241, 223, 11, 1) 3%,
    rgba(255, 248, 0, 1) 21%,
    rgba(255, 236, 0, 1) 53%,
    rgba(254, 255, 0, 1) 86%,
    rgba(237, 216, 16, 1) 100%
  ); */
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  position: sticky;
  top: 0;
}
.flex {
  display: flex;
  flex-direction: row;
}

#logo:active {
  text-decoration: none;
  color: rgb(143, 156, 168);
  border: none;
}
#logo:focus {
  border: none;
  text-decoration: none;
}
.logo-img {
  width: 46px;
  height: 46px;
  /* border-radius: 50%; */
  overflow: hidden;
  margin-top: 4px;
  margin-left: 10px;
}
.navbar-logo {
  color: lightslategray;
  justify-self: start;
  margin-left: 20px;
  margin-right: 10px;

  cursor: pointer;
  font-size: 40px;
  text-decoration: none;
  border: none;
}

a {
  text-decoration: none;
}
.main-nav-active .nav-links {
  text-decoration: underline;
  /* background-color: red; */
  color: black;
  /* color: #2ecc71; */
}
.nav-links:hover {
  text-decoration: underline;
}
.nav-links:focus {
  text-decoration: underline;
  /* color: #000; */
}
.nav-links:active {
  text-decoration: underline;
  /* color: #000; */
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 1rem;
}

.nav-links {
  color: lightslategray;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.nav-links:hover {
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: rgb(247, 247, 68);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
#main {
  height: 100vh;
}
@media screen and (max-width: 810px) {
  .NavbarItems {
    position: sticky;
    top: 0;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.4s ease;
  }

  .nav-menu.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: #2ecc71;
    border-radius: 0;
  }
  .main-nav-active .nav-links {
    color: #2ecc71;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15%, 30%);
    margin-left: 50px;
  }

  .logo-img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15%, 30%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgb(247, 247, 68);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: red;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: red;
    transition: 250ms;
  }

  Button {
    display: none;
  }
}
