.footer-container {
  background-color: #000000;
  /* padding: 1rem 1rem 2rem 1rem; */
  color: #ffffff;
  /* display: flex; */
}

/* .footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: row;
}  */

.footer-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-heading h2 {
  margin-bottom: 1.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  text-decoration: underline;
  color: #ffffff;
}

.footer-heading a {
  color: #ffffff;
  /* text-decoration: none; */
  margin-bottom: 0.9rem;
  font-size: 25px;
}

.footer-heading a:hover {
  color: #2ecc71;
  transition: 0.2s ease-out;
  text-decoration: underline;
}

.servi-links-footer:focus {
  text-decoration: underline;
  color: #2ecc71;
}
.activatres {
  text-decoration: underline;
}
#center {
  text-align: center;
}

.footer-3 {
  /* margin-right: 3rem; */
}
