* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.back-to-top {
  display: none;
}
.subir {
  position: fixed;
  width: 50px;
  height: 50px;
  outline: none;
  bottom: 70px;
  right: 10px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35.5px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  padding-left: 1px;

  display: hidden;
}
.subir:visited {
  color: white;
}
.whatsapp_float:visited {
  color: white;
}
/* whatsAPP */
.whatsapp_float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 10px;
  line-height: 0;
  right: 10px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 41px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  padding-top: 6px;
  padding-left: 1px;
}

@media screen and (min-width: 1200px) {
  .subir:hover {
    color: black;
  }
  .whatsapp_float:hover {
    color: lightslategray;
  }
  .whatsapp-icon:hover {
    color: black;
  }
  .whatsapp_float:active {
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .whatsapp-icon:active {
    color: white;
  }
}
/* for mobile */
/* @media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 10px;
    font-size: 52px;
  }

  .whatsapp_float {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .subir {
    width: 40px;
    height: 40px;
    bottom: 70px;
    right: 10px;
    font-size: 22px;
    padding-top: 4px;
  }
} */
